.DynamiqueContent
{
    margin-top:20px;
}
.realise
{
    border-left: 4px solid #42A5F5
}
.retard
{
    border-left: 4px solid #66BB6A
}
.anticipe
{
    border-left: 4px solid #FFA726
}